.container{
    padding: 0 20px;
    overflow: hidden;
}

.courses-container{
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.skills-container{
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
    gap: 115px;
    padding-bottom: 30px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container h1{
    color: white;
    text-shadow: 1.5px 1.5px 5px #000000;   
}

.text{
    color: white;  
}

@media only screen and (max-width: 900px) {
    .courses-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10vw;
    }
    
  }

