.card-container{
    background-color: #5fa59a;
    width: 90vw;
    height: 70vh;
    margin-inline: auto;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    transition: box-shadow 1.5s;
}

.card-img{
    width: 90vw;
    height: 70vh;
    transition: transform 2s;
}

.card-container:hover{
    box-shadow: #586b49 10px 10px 10px;
    transition: box-shadow 0.6s;
}

.card-container:hover .card-img{
    transform: translateX(20%);
}
.card-container:hover .project-info{
    transform: translateX(8%);
    visibility: visible; 
    opacity: 1;
    transition: transform 2s, opacity 2s;
}

.project-info{
    width: 18%;
    position: absolute;
    text-align: center;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 2s, opacity 2s, visibility 2s;
}
.container-icon :nth-child(1n){
    transform: translateX(500% );
    transition: transform 4s;
}
.card-container:hover .container-icon :nth-child(1n){
    transform: translateX(0);
    transition: transform 4s;
}

.tecnology-icon {
    width: 40px;
    height: 40px;
    transition: scale 0.6s, border-radius 0.6s,  box-shadow 0.6s ;
}
.tecnology-icon:hover {
    scale: 1.2;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 50%;
}

.container-icon {
    display: flex;
    justify-content: space-around;
}

.card-description{
    text-align: center;
}

.card-link{
    color: blanchedalmond;
    text-decoration: none;
}

.project-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    border: 1px black solid;
}
