.card-container{
    background-color: hsla(0, 0%, 62%, 0.74);
    width: 90vw;
    height: 70vh;
    margin-inline: auto;
    overflow: hidden;
    
}

.card-img{
    width: 90vw;
    height: 70vh;
    transition: transform 2s;
}

.card-container:hover .card-img{
    transform: translateX(20%);
}
