#card-container{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    color: white;
    text-shadow: 1.5px 1.5px 5px #000000
}

.perfil-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    height: 40px;
}
.name{
    font-size: 60;
    font-weight: 700;
    margin-inline: auto;
    margin-block: 0;
    font-size: 20px;
}
.description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-block: 0;
}