.certification-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: box-shadow 1.5s;
    overflow: hidden;
}

.certification-container:hover .certification-img{
    transform: scale(2) translateX(14%) translateY(8%);
    transition: transform 1s;
}

.certification-container:hover {
    box-shadow: rgba(50, 135, 150, 0.25) 0px 14px 28px, rgba(16, 42, 114, 0.22) 0px 10px 10px;
    transition: box-shadow 1.5s;
}

.certification-img{
    transform: translateY(0);
    transition: transform 2s;
    position: relative;
}

/* .certification-container:hover .certification-info{
    transform: translateX(100%) translateY(-900%);
    transition: transform 2s;
    animation: alternate;
}

.certification-info{
    margin-block: 0;
    transform: translateX(1800%) translateY(-100%);
    transition: transform 2s;
    position: absolute;
    z-index: -2;
} */
