.skill-container{
    transform: scale(1);
    transition: transform 0.7s, box-shadow 0.7s;
    border-radius: 50%;
}

.skill-container:hover{
    transform: scale(1.2);
    box-shadow: 0 0 12px #d6cea3;  
    transition: transform 0.7s,  box-shadow 0.7s;
}


.skill-img{
    height: 80px;
    width: 80px;
    transform: rotate(-45deg);
    padding: 10px;
    border-radius: 50%;
}

.skill-progress10{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-bottom: 5px solid #15d377;
    border-top: 5px solid #15d377;
    border-right: 5px solid #15d377;
    border-left: 5px solid #15d377;
    transform: rotate(45deg);
}
.skill-progress7{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-bottom: 5px solid #5b9c10;
    border-top: 5px solid #5b9c10;
    border-right: 5px solid #5b9c10;
    border-left: 5px solid grey;
    transform: rotate(45deg);
}
.skill-progress5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-bottom: 5px solid grey;
    border-top: 5px solid rgb(236, 193, 0);
    border-right: 5px solid rgb(236, 193, 0);
    border-left: 5px solid grey;
    transform: rotate(45deg);
}



